
<select onchange="updateStepTool(this, '<%=escape(step.name)%>');" id="step-tool-<%=sid%>">
<option <%=(step.definition.tool === '' ? 'selected':'')%>value=''>Select One</option>
<% for (var i=0;i<workspace.tools.length; i++){ %>
	<option <%=(workspace.tools[i].name === step.definition.tool ? 'selected':'')%> value="<%=escape(workspace.tools[i].name)%>"><%=workspace.tools[i].name%></option>
<%}%>
</select>
