<div tabindex="0" id="protocolValidationWindow" style="display:none;">
<div id="protocolValidationWindow-header"><h5>Protocol Validation <span style="cursor: pointer;" onclick="return closeProtocolValidationWindow();" aria-hidden="true">&times;</span></h5></div>
   <hr/>
<div style="font-size: 1rem; padding: 7px;">
<% if (error) { %>
  Protocol error: <%=error%>
<%} else {

  if (lines.length === 0) {
 %>
     <div class="alert alert-success" role="alert">
    <i style="font-size: 17px;" class="fa fa-check" aria-hidden="true"></i> Valid Protocol! Your protocol is ready to go.</div>
<%
  } else {
    for (var i=0; i < lines.length; i++) {
      var className = lines[i].type === 'ERROR' ? 'danger' : 'warning';
      var icon = lines[i].type === 'ERROR' ? 'fa-times-circle' : 'fa-exclamation-circle';
      var preText = lines[i].type === 'ERROR' ? 'Error' : 'Warning';
      var step = lines[i].step;
    %>
    <div class="alert alert-<%=className%>" role="alert">
    <a href="#" class="alert-link" onclick="scrollToStep('<%=step.name%>')"><i style="font-size: 17px;" class="fa <%=icon%>" aria-hidden="true"></i> <%=preText%> in step <strong><%=step.name%></strong> (#<%=step.order%>)</a><br> <%=lines[i].text%> 
    </div>

    <%
    }
  }

}%>
</div>
</div>