#editor {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 600px;
}

@media (min-width: 768px){
  #left {
    position: absolute;
    top: 56px;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow-y: scroll; 
    padding-left: 0px;
    font-size: 11px; 
  }

  #middle {
    position: absolute;
    top: 56px;
    bottom: 0;
    left: 16%;
    width: 100%;
    overflow-y: scroll; 
    // padding-right: 0px;
  }
  
  #right {
    position: absolute;
    top: 56px;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    width: 100%;
    padding-left: 0px;
    // padding-right: 2px;
    background-color: #fff;
    font-size: 11px;
  }
}

#app {
  margin: 0;
  overflow: hidden;
  height:100%;
}

.item-header {
    padding: 0.3rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

#coordinates {
	font-family: monospace, monospace;
}

.selection {
  fill: #ADD8E6;
  stroke: #000000;
  fill-opacity: 0.3;
  stroke-opacity: 0.7;
  stroke-width: 0.3;
  stroke-dasharray: 2, 2;
}

.item-header {
  padding: 0px;
}


.color-box {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #ccc;
    position: absolute;
    left: 5px;
    top: 5px;
}

.tags {
  font-size: 15px;
  margin-left: 7px;
  cursor: pointer;
}

.contentTitle {
  font-size: 15px;
}

.item-title {
  background-color: #cdd9ec;
  border-radius: 3px;
}

.selected-content {
  border: 2px solid #000;
  border-radius: 6px;
  padding: 2px;
}

.content-list-item {
  border: 1px solid #d9d0d0;
  border-radius: 6px;
  padding: 3px;
}

.selected-step {
  border: 2px solid #000;
  border-radius: 6px;
  padding: 2px;
}

.step-list-item {
  border: 1px solid #d9d0d0;
  border-radius: 6px;
  padding: 3px;
}

.cool-input {
    border: 1px solid #f7f7f7;
    background-color: #f7f7f7;
    font-size: 14px;
    font-weight: bold;
}

.cool-input:hover {
    border: 1px solid #c3c3c3;
    background-color: white;
    font-size: 14px;
    font-weight: bold;
}

.cool-input:focus {
    border: 1px solid #c3c3c3;
    background-color: white;
    font-size: 14px;
    font-weight: bold;
}

.tags-input {
    border: 1px solid #c3c3c3;
    background-color: white;
    font-size: 13px;
}

.editplatformname {
  font-size: 15px;
  position: relative;
  top: 7px;
  cursor: pointer;
}

.item-subtitle {
  margin-left: 9px;
}

.platform-item {
    border: 1px solid #d9d0d0;
    border-radius: 6px;
    //padding: 3px;
}

.platform-color {
  margin: 7px -3px 0px 9px;
}

#console {
    background-color: #000;
    color: #a8a8a8;
    padding: 2px;
    width: 100%;
    font-family: monospace;
    overflow-y: scroll;
    position: relative;
    max-height: 120px;
    white-space: pre-line;
    font-size: 0.8em;
}

.control-button {
  cursor: pointer;
}

#protocolPanel {
  border: 1px solid #d9d0d0;
  border-radius: 6px;
}

.edit-protocol-icon {
    font-size: 15px;
    position: relative;
    top: 3px;
    cursor: pointer;
}

#joystick {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
  line-height: 1.5;
  border-radius: .2rem;
  font-size: .875rem;
}

#protocolValidationWindow {
  position: absolute;
  z-index: 9;
  background-color: #ffffff;
  border: 2px solid #d3d3d3;
  line-height: 1.5;
  border-radius: .4rem;
  font-size: .875rem;
}

#protocolValidationWindow-header {
  padding: 13px 12px 0px 8px;
  cursor: move;
  z-index: 10;
  background-color: #ffffff;
  color: #000;
  line-height: 1.5;
  border-radius: .2rem;
  text-align: center;
}

#joystick-header {
  padding: 5px;
  cursor: move;
  z-index: 10;
  background-color: #23272b;
  color: #fff;
  line-height: 1.5;
  border-radius: .2rem;
}

.invertDark {
  color: #E8E7E7;
}

.proto-details {
  padding: 8px 8px;
}

.proto-bottom {
  padding-bottom: 10px; 
  padding-top: 10px; 
}

.expand-protocol-icon {
    font-size: 15px;
    position: relative;
    top: 0px;
    cursor: pointer;
    color: #585259;
    margin-right: 0px;
    margin-left: -6px;
}

.protocol-step-delete-icon {
    cursor: pointer;
    float: right;
    margin-top: 7px;
    margin-right: 3px;
    color: #e16d6d;
    font-size: 11px;
}

.protocol-step-plug-icon {
    cursor: pointer;
    float: right;
    margin-top: 7px;
    margin-right: 7px;
    font-size: 11px;
}

.proto-name-list {
  font-size: 15px;
}

.global-noti {
  border-radius: 6px;
  color: #000;
}

#global-notification {
  border-radius: 6px;
  cursor: pointer;
   color: #000;
  -webkit-transition: border 0.3s linear, box-shadow 0.3s linear;
       -moz-transition: border 0.3s linear, box-shadow 0.3s linear;
            transition: border 0.3s linear, box-shadow 0.3s linear;
}

#global-notification.active {
    -webkit-box-shadow: 0 0 20px #000;
       -moz-box-shadow: 0 0 20px #000;
            box-shadow: 0 0 20px #000;
}

.step-vol {
  font-weight: normal;
}

.human-details {
    font-weight: bold;
}

.glow {
   -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border-color: blue;
    -webkit-box-shadow: 0 0 5px blue;
       -moz-box-shadow: 0 0 5px blue;
            box-shadow: 0 0 5px blue;
}

.steporder {
  cursor: pointer;
}
